.venv/
__pycache__/
.ipynb_checkpoints/

data/
outputs/
kaggle.json

*.h5
*.keras
best_model_*.h5

amostras_treino.png
arquitetura_modelo.png
auc_por_classe.png
curvas_roc.png
curvas_treinamento.png
distribuicao_classes.png
predicoes_teste.png
error.png
